.title-cards {
  margin-top: 50px;
  margin-bottom: 30px;
}

.title-cards h2 {
  margin-bottom: 8px;
}

.card-list {
  display: flex;
  gap: 10px;

  /* Overflow Scrollbar */
  overflow-x: scroll;
}

/* Hide Scrollbar */
.card-list::-webkit-scrollbar {
  display: none;
}

.card-list img {
  width: 240px;
  border-radius: 4px;
  cursor: pointer;
}

.card-list .card {
  position: relative;
}

.card-list .card p {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;

  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0;

  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

@media (max-width: 800px) {
  .title-cards {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .title-cards h2 {
    font-size: 20px;
  }

  .card-list img {
    width: 200px;
  }

  .card-list p {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .title-cards h2 {
    font-size: 15px;
  }

  .card-list img {
    width: 165px;
  }

  .card-list p {
    font-size: 10px;
  }
}
