/* Hero Section */

.hero {
  position: relative;
}

.banner-img {
  width: 100%;

  /* Gradient Mask */
  mask-image: linear-gradient(to right, transparent, black 75%);
  -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
}

.hero-caption {
  position: absolute;

  width: 100%;
  padding: 0 6%;
  bottom: 0;
}

.caption-img {
  width: 90%;
  max-width: 420px;
  margin-bottom: 30px;
}

.hero-caption p {
  max-width: 700px;
  font-size: 17px;
  margin-bottom: 20px;
}

/* More Cards Section */
.more-cards {
  padding-left: 6%;
}
