.slider-container {
  width: 90%;
  margin: 10px auto 30px auto;
}

/* Title */

.cards-list-title {
  font-family: "Druk-Wide-Bold";
  font-size: 18px;
  color: #fff;
  margin-bottom: 15px;
}

/* Card */

.card-container {
  width: 230px;
  margin: 0px auto;
  position: relative;
}

.card-image {
  height: 345px;
  width: 230px;
}

/* Hover Info */
.card-container > div {
  position: absolute;
  bottom: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: start;

  background: rgba(0, 0, 0, 1);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.card-container:hover > div {
  opacity: 1;
}

/* Card Info */
.card-container .card-info img {
  height: 190px;
  width: 230px;
  object-fit: cover;
  margin: 0 auto;
}

.card-container .card-info h3 {
  width: 230px;
  padding: 0 5px;
  margin: 10px 0 10px 0;

  text-decoration: none;
  color: #ffffff;

  font-size: 14px;
  font-family: "Druk-Wide-Bold";
}

.card-container .card-info-rating span {
  position: absolute;
  top: 6px;
  left: 6px;

  width: 40px;
  height: 30px;

  font-size: 16px;
  font-weight: 600;
  padding: 3px 0px;

  text-align: center;
  color: #fff;
  border-radius: 5px;
  background: linear-gradient(to right, #6a11cb, #2674fc);
}

.card-container .card-info p {
  width: 230px;
  text-decoration: none;
  padding: 0 5px;
  font-size: 14px;
  color: #adadad;
  font-weight: 400;
}

@media (max-width: 800px) {
  .slider-container {
    width: 75%;
    margin: 20px auto;
  }

  .policy-navlink.hidden-policy {
    display: none;
  }
}
