/* Card */

.tv-card-container {
  width: 230px;
  margin: 0px auto;
  position: relative;
}

.tv-card-image {
  height: 350px;
  width: 195px;
}

/* Hover Info */
.tv-card-container > div {
  position: absolute;
  bottom: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: end;

  background: rgba(0, 0, 0, 1);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.tv-card-container:hover > div {
  opacity: 1;
}

/* Card Info */

.tv-card-container .tv-card-info h3 {
  width: 230px;
  padding: 0 5px;
  margin: 10px 0 10px 0;

  text-decoration: none;
  color: #ffffff;

  font-size: 14px;
  font-family: "Druk-Wide-Bold";
}

.tv-card-container .tv-card-info-rating span {
  position: absolute;
  top: 6px;
  left: 6px;

  width: 40px;
  height: 30px;

  font-size: 16px;
  font-weight: 600;
  padding: 3px 0px;

  text-align: center;
  color: #fff;
  border-radius: 5px;
  background: linear-gradient(to right, #6a11cb, #2674fc);
}

.tv-card-container .tv-card-info p {
  width: 230px;
  text-decoration: none;
  padding: 0 5px;
  font-size: 14px;
  color: #adadad;
  font-weight: 400;
}
