.animation-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #000000;
}

.animation-wrapper {
  width: auto;
  height: auto;
}

.animation-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -webkit-animation: animation-rot 16s linear infinite;
  animation: animation-rot 16s linear infinite;
  list-style: none; /* Remove default list-style */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

@-webkit-keyframes animation-rot {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animation-rot {
  100% {
    transform: rotate(360deg);
  }
}

.animation-item {
  width: 40px;
  height: 40px;
  background: #651fff;
  border-radius: 4px;
  box-shadow: 0 0 1px #fff, 0 0 5px #651fff, 0 0 10px #651fff, 0 0 15px #651fff,
    0 0 25px #651fff, 0 0 55px #651fff;
  -webkit-animation: animation-scale 0.8s linear alternate infinite;
  animation: animation-scale 0.8s linear alternate infinite;
}

@-webkit-keyframes animation-scale {
  100% {
    transform: scale(0.1);
    opacity: 0;
  }
}

@keyframes animation-scale {
  100% {
    transform: scale(0.1);
    opacity: 0;
  }
}

.animation-item:nth-child(1) {
  z-index: 24;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.animation-item:nth-child(2) {
  z-index: 23;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.animation-item:nth-child(3) {
  z-index: 22;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.animation-item:nth-child(4) {
  z-index: 21;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.animation-item:nth-child(5) {
  z-index: 20;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.animation-item:nth-child(6) {
  z-index: 19;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.animation-item:nth-child(7) {
  z-index: 18;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.animation-item:nth-child(8) {
  z-index: 17;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.animation-item:nth-child(9) {
  z-index: 16;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.animation-item:nth-child(10) {
  z-index: 15;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.animation-item:nth-child(11) {
  z-index: 14;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.animation-item:nth-child(12) {
  z-index: 13;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.animation-item:nth-child(13) {
  z-index: 12;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.animation-item:nth-child(14) {
  z-index: 11;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.animation-item:nth-child(15) {
  z-index: 10;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.animation-item:nth-child(16) {
  z-index: 9;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.animation-item:nth-child(17) {
  z-index: 8;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.animation-item:nth-child(18) {
  z-index: 7;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.animation-item:nth-child(19) {
  z-index: 6;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.animation-item:nth-child(20) {
  z-index: 5;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.animation-item:nth-child(21) {
  z-index: 4;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.animation-item:nth-child(22) {
  z-index: 3;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.animation-item:nth-child(23) {
  z-index: 2;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.animation-item:nth-child(24) {
  z-index: 1;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.animation-item:nth-child(25) {
  z-index: 0;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
