.navbar {
  width: 100%;
  padding: 20px 6%; /* 左右為螢幕寬度6% */

  display: flex;
  justify-content: space-between;

  position: fixed; /* 固定在螢幕頂部 */

  font-size: 14px;
  color: #e5e5e5;

  /* 線性漸變背景，從上到下（180度） */
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );

  z-index: 1; /* 堆疊順序為1，確保在上層 */
}

/* navbar-left */

.navbar-left {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navbar-left img {
  width: 90px;
}

.navbar-left ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar-left ul li {
  cursor: pointer;
}

/* navbar-right */

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-right .icons {
  width: 20px;
  cursor: pointer;
}

.navbar-right .profile {
  width: 35px;
  border-radius: 4px;
}

.navbar-right .navbar-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}

/* dropdown menu */

.navbar-right .navbar-profile .dropdown {
  position: absolute;
  top: 100%;
  right: 0;

  width: max-content;
  padding: 18px 22px;
  border-radius: 2px;

  background: #191919;
  text-decoration: underline;

  z-index: 1;
  display: none;
}

.navbar-profile .dropdown p {
  font-size: 13px;

  cursor: pointer;
}

.navbar-profile:hover .dropdown {
  display: block;
}

.nav-dark {
  background: #141414;
}
