.navbar {
  width: 100%;
  padding: 20px 6%;

  display: flex;
  justify-content: space-between;

  position: fixed; /* fixed on top */

  font-size: 14px;
  color: #e5e5e5;

  /* gradient background: top to bottom */
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );

  z-index: 1;
}

/* navbar-left */

.navbar-left {
  display: flex;
  align-items: center;
  gap: 50px;
}

.logo {
  width: 150px;
}

.navbar-left ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar-left ul li {
  font-family: "SF-Pro-Display";
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}

/* navbar-right */

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar-right .icons {
  width: 20px;
  cursor: pointer;
}

.navbar-right .profile {
  width: 35px;
  border-radius: 4px;
}

.navbar-right .navbar-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}

/* search bar */

.search-bar {
  display: flex;
  align-items: center;
  gap: 8px;

  background: rgba(0, 0, 0, 0.3);
  padding: 5px 10px 5px 7px;
  border: none;
  border-radius: 20px;

  position: relative;
}

.search-bar-input {
  background-color: transparent;
  border: none;
  outline: none;

  font-family: "SF-Pro-Display";
  font-weight: 400;
  font-size: 14px;
  color: #cccccc;

  width: 100px;
  opacity: 1;
  transition: width 0.2s ease-out, opacity 0.2s ease-out;
}

.search-bar-input.hidden {
  width: 0;
  opacity: 0;
  padding: 0;
  border: none;
  outline: none;
  transition: width 0.3s ease-out, opacity 0.3s ease-out;
}

.search-bar-input::placeholder {
  color: #808080;
}

/* br */

/* dropdown menu */

.navbar-right .navbar-profile .dropdown {
  position: absolute;
  top: 100%;
  right: 0;

  width: max-content;
  padding: 18px 22px;
  border-radius: 2px;

  background: #191919;
  text-decoration: underline;

  z-index: 1;
  display: none;
}

.navbar-profile .dropdown p {
  font-size: 13px;

  cursor: pointer;
}

.navbar-profile:hover .dropdown {
  display: block;
}

.nav-dark {
  background: #141414;
}

/* Responsive Styling */
@media (max-width: 800px) {
  .navbar {
    padding: 20px 4%;
  }

  .navbar-left ul {
    display: none;
  }

  .navbar img {
    height: 25px;
  }

  .navbar-right .profile {
    width: 25px;
    height: 25px;
    border-radius: 4px;
  }
}

@media (max-width: 500px) {
  .navbar img {
    height: 20px;
  }

  .navbar-right {
    gap: 10px;
  }
}
